[scripts]
bengali_train = "pipenv run python ./pipeline/train.py Bengali"
bengali_parquet = "pipenv run python ./tools/convert_parquet2png.py"
local_mlflow = "mlflow server -h 0.0.0.0 -p 8888"
dataset = "pipenv run python ./tools/upload_kaggle.py noroaspe"
upload = "kaggle datasets create -p upload"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cython = "*"
numba = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
jupyter = "*"
notebook = "*"
torch = "==1.2.0"
torchvision = "==0.4.0"
pillow = "==6.2.0"
opencv-python = "*"
tqdm = "*"
pathlib = "*"
pyarrow = "*"
pretrainedmodels = "*"
mlflow = "*"
pyyaml = "*"
albumentations = "*"

[requires]
python_version = "3.7"
